{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Hello!</h1>
{{ dump() }}
    This friendly message is coming from:22
    <ul>
        <li>Your template at <a href="{{ 'templates/welcome/index.html.twig'|file_link(0) }}">templates/welcome/index.html.twig</a></li>
    </ul>

    <div id="app">
        <example></example>
    </div>

</div>
{% endblock %}