<template>
    <div>
        <div @click="sayHello">click me</div>
        <div @click="addUser">add user</div>
        <div>template</div>
        <h3>My Symfony 4 sample projefgdfgfct</h3>
        <div>
            <p>This is an example of a new components in VueJs</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Example",
        data: function() {
            return {
                users: null,
            }
        },
        methods: {
            sayHello() {
                alert('hello');
            },
            addUser() {
                var formData = new FormData();
                formData.append('username', 'user2');
                formData.append('password', '2345');
                fetch('/user/new', {
                    method: 'post',
                    body: formData
                })
                    .then(this.handleResponse)
                    .then(data => console.log('data is', data))
                    .catch(error => console.log('error is', error));
            },
            deleteUser() {},
            updateUser() {},
            handleResponse(response) {
                return response.json()
                    .then(json => {
                        if (response.ok) {
                            return json
                        } else {
                            return Promise.reject(json)
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>